.titled-pane,
.titled-pane>.content,
.titled-pane>.title {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    border-radius: 15px;
    -fx-text-fill: white;
    -fx-background-color: #3f4353;
    -fx-border-color: #df9d53;
    -fx-border-width: 1;
}